.Cuerpo{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));

}

.Cuerpo .card{
    position: relative;
    display: flex;
    flex-direction: column;
    background: #000000;
}

.Cuerpo .card:nth-child(even){
    flex-direction: column-reverse;
}

.Cuerpo .card .imbox{
    position: relative;
    width: 250px;
    height: 250px;
    background: #000000;
}

.Cuerpo .card .imbox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Cuerpo .card .contenido{
    position: relative;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Cuerpo .card .contenido{
    padding: 20px;
    text-align: center;
}
